.video {
  width: 100%;
}

.container {
  width: 80%;
  position: relative;
}
.subtitle {
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);

  color: white;
  background-color: black;
  padding: 0 10px;
  font-size: 24px;
  font-weight: 600;

}

.originLang {
  display: flex;
  gap: 8px;
}

.word {
  border-bottom: 2px solid transparent;
}

.heightLine {
  color: rgb(255, 83, 83);
  border-bottom: 2px solid rgb(255, 83, 83);
}